<div class="contenedorBoton">
    <button class="botonLlamarMenu" (click)="consultarMenu()">
        Consultar menu semanal
    </button>
</div>

<form #filtroForm="ngForm" [formGroup]="formularioFiltros">
    <div class="contenedorDeFiltros">
        <label for="filtroTipo">Tipo :</label>
        <input class="filtroTipo" id="filtroTipo" type="text" formControlName="tipo" name="tipo">
        <button class="botonBuscar" (click)="filtrarPorTipo()">Filtrar</button>
    </div>
</form>

@if ((horarioActual < horarioLimite) && (horarioActual > horarioInicial)) {
    <div class="contenedorMenu">
        @for (item of menu; track $index) {
            @if (diaActual === item.fechaPlatoDia) {
                <div class="cardMenu">
                    <div class="headerCard">
                        <div class="tipoCard">{{item.tipo}}</div>
                        <div class="tipoCard"> c: {{item.stock}}</div>
                    </div>
                    <h3 class="tituloCard">{{item.nombre}}</h3>
                    <p class="descripcionCard">{{item.descripcion}}</p>
                    <span class="agregadosCard">- {{item.agregados}}</span>
                    <span class="tiempoCard"> Tiempo de preparación: {{item.tiempoPreparacion}} minutos</span>
    
                </div>
            }
            
        }
    </div>
}
